CT_EXPERIMENTAL=y
CT_LOCAL_TARBALLS_DIR="${DOWNLOAD}"
CT_SAVE_TARBALLS=y
CT_WORK_DIR="${BUILD}"
CT_PREFIX_DIR="${ROOT}/${CT_TARGET}"
# CT_RM_RF_PREFIX_DIR is not set
# CT_REMOVE_DOCS is not set
# CT_INSTALL_DIR_RO is not set
CT_LOG_EXTRA=y
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_CPU="cortex-a7"
CT_ARCH_FPU="neon-vfpv4"
CT_ARCH_FLOAT_HW=y
CT_TARGET_CFLAGS="-mabi=aapcs-linux -mtune=cortex-a7 -mhard-float -mfloat-abi=hard"
CT_ARCH_arm=y
CT_TARGET_VENDOR="${VENDOR}"
CT_KERNEL_linux=y
CT_KERNEL_LINUX_CUSTOM=y
CT_KERNEL_LINUX_CUSTOM_LOCATION="${LINUX_SRC}"
CT_BINUTILS_V_2_22=y
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_LIBC_GLIBC_EXTRA_CONFIG_ARRAY="--disable-nscd"
CT_LIBC_ENABLE_FORTIFIED_BUILD=y
CT_LIBC_DISABLE_VERSIONING=y
CT_LIBC_ADDONS_LIST="libidn"
CT_LIBC_GLIBC_KERNEL_VERSION_NONE=y
CT_CC_GCC_SHOW_LINARO=y
# CT_CC_GCC_ENABLE_TARGET_OPTSPACE is not set
CT_CC_GCC_LIBSSP=y
CT_DEBUG_dmalloc=y
CT_DEBUG_duma=y
CT_DEBUG_gdb=y
# CT_GDB_CROSS_PYTHON is not set
# CT_GDB_GDBSERVER_STATIC is not set
CT_DEBUG_ltrace=y
CT_DEBUG_strace=y
